html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Passion One', sans-serif;
}

html, body, #app {
    height: 100%;
}

.play {
    height: 100%;
    text-align: center;
}

.play h1 {
    margin: 0;
    padding: 10px 0 5px;
    box-shadow: 0 5px 5px #D2D2D2;
}

.play input {
    width: 90%;
    margin: 50px 5% 20px;
}

.play .fa {
    padding: 10%;
}

@keyframes pulse {
    from {
        font-size: 3em;
    }
    to {
        font-size: 6em;
    }
}

.play .fa-heart {
    animation: pulse 0.3s alternate infinite;
}

.play .progress {
    margin: 4% 0 3%;
    height: 3%;
    border-radius: 0;
}

.play button {
    height: 15%;
    /*border-radius: 0;*/
}

.landing {
    text-align: center;
}

.landing h1 {
    font-style: italic;
    font-size: 5em;
    padding-top: 200px;
}
.landing button {
    margin: 30px;
}
.landing button:hover {
    transform: scale(1.2);
    transition: all 100ms ease-in-out;
}

.lobby {
    text-align: center;
}
.lobby h1 {
    font-size: 4em;
    font-style: italic;
}
.lobby .canvas {
    width: 100%;
}
.lobby a {
    font-size: 2.5em;
    font-family: 'Passion One', sans-serif;
}

.lobby, .display {
    display: flex;
    flex-direction: row;
}
.lobby main, .display main {
    flex: 1;
}
.lobby aside, .display aside {
    flex: none;
    width: 250px;
}

.scoreboard {
    text-align: right;
    padding-right: 10px;
}
.scoreboard .user {
    font-weight: bold;
    font-size: 1.5em;
}
.scoreboard .user, .scoreboard h4 {
    padding: 2px;

}
.scoreboard h4 {
    font-family: 'Passion One', sans-serif;
    font-size: 2em;

}

.display {
    text-align: center;
}

.display video {
    max-height: 500px;
    width: 100%;
}

.choices {
    font-family: 'Passion One', sans-serif;
    font-size: 3em;
    text-align: left;
    display: inline-block;
}

.choices label {
    color: gray;
}